.card{
    --card-background: hsl(0deg 0% 24% / 78%);
}

.card {
    position: relative;
    height: 100%;
    background-color: var(--card-background);
    scroll-snap-align: start;
    flex-basis: 25%;
    flex-shrink: 0;
    minWidth: 25em;
}

.card.square{
    aspect-ratio: 1/1;
}
