.card-deck{
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
    scroll-snap-type: x mandatory;
    width: calc(100vw - (2 * var(--gutter)));
    overflow-x: scroll;
    height: 55vh;
}

.card-deck > * + * {
    margin-left: var(--gutter);
}