@import url("../assets/fonts/fonts.css");

:root{
    --h1-font-size: 3rem;
    --gutter: 2rem;
    --transition: 300ms;
    --white: #fff;
    --text-shadow:
        0 0 24px black,
        0 0 12px black,
        0 0 6px black,
        0 0 1px black;
    --text-glow:
        0 0 24px currentColor,
        0 0 12px currentColor,
        0 0 6px currentColor,
        0 0 1px currentColor;
    --text-highlight-glow:
        0 0 6px var(--white),
        0 0 3px var(--white),
        0 0 1px var(--white);
    /* https://www.schemecolor.com/vaporwave.php */
    --persian-rose: hsl(329, 92%, 57%);
    --rajah: hsl(32, 93%, 65%);
    --cerise-pink: hsl(337, 80%, 56%);
    --persian-blue: hsl(225, 79%, 39%);
    --mardi-gras: hsl(310, 74%, 33%);
    --russian-violet: hsl(275, 93%, 16%);
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1{
    text-align: right;
    text-shadow: var(--text-shadow);
}

p{
    line-height: 1.25;
}
