.typography {
    font-weight: 300;
    transition: font-size calc(var(--transition) * 4)  ease-in-out;
}

.typography-h1 {
    font-weight: 500;
    font-size: var(--h1-font-size);
}

.typography-lowercase{
    text-transform: lowercase;
}

.typography-card-title-link{
    font-size: 2rem;
    font-weight: 500;
}

.typography-shadow{
    text-shadow: var(--text-shadow);
}

.typography-indent{
    text-indent: var(--gutter);
}