.typography {
    font-family: "ITC Avant Garde Gothic W01 Boo", sans-serif;
    transition: font-size calc(var(--transition) * 4)  ease-in-out;
    margin: 0;
    padding: 0;
}

.typography-h1 {
    font-size: var(--h1-font-size);
}

.typography-lowercase{
    text-transform: lowercase;
}

.typography-card-title-link{
    font-size: 2rem;
    font-family: "ITC Avant Garde Gothic W01 DmC", sans-serif;
}

.typography-shadow{
    text-shadow: var(--text-shadow);
}