.block{
    max-width: var(--longform-text);
    width: var(--longform-text);
    padding-bottom: var(--gutter);
}

.block p + p{
    margin-top: 1rem;
}

.block {
    font-weight: 300;
    transition: font-size calc(var(--transition) * 4) ease-in-out;
}

.block h2 {
    border-bottom: 0.25rem solid var(--rajah);
}

.block h3 {
    margin-top: 2rem;
    border-bottom: 0.125rem solid var(--persian-blue);
}

.blog__list a,
.block a {
    color: green;
    text-shadow: var(--text-shadow);
}

.blog__list a:link,
.block a:link,
.blog__list a:active,
.block a:active {
    color: green;
}

.blog__list a:visited,
.block a:visited {
    color: green;
}

.blog__list a:hover,
.block a:hover {
    color: var(--russian-violet);
    text-shadow: var(--text-highlight-glow), var(--text-shadow);
}

.blog__footer {
    border-top: 2px solid var(--persian-rose);
    padding-top: 0.25rem;
    font-size: 0.75rem;
    font-style: italic;
}

.blog__footer p {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.blog__link{
    display: block;
}