.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav > * + *{
    margin-top: var(--gutter);
    transition: margin-top calc(var(--transition) * 2) ease-in-out;
}

.nav a{
    font-size: 2rem;
}